facenet_pytorch==2.6.0
fastapi==0.139.0
python-multipart==0.0.32
kagglehub==1.0.2
matplotlib==3.11.0
numpy==2.5.1
PyYAML==6.0.3
torch==2.13.0+cu132
torchvision==0.28.0+cu132
tqdm==4.68.4
uvicorn==0.51.0
opencv-python==5.0.0.93
python-dateutil==2.9.0
imageio-ffmpeg==0.6.0